*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    width: auto;
    background-color:rgb(19, 17, 17);
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight:300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
    display: flex;
    justify-content:end ;
    align-items: center;
 
}

nav ul li{
    margin: 30px;
    list-style-type: none;
    padding-right: 50px;
}

#home{
    background-image: url(pexels-eberhardgross-1062249.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    height: 650px;
    width: 100%;
    color: white;
}

#home div{
    padding: 20%;
}

#home div h1{
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;
}

#home div p{
    font-size: 24px;
    font-weight: 600;
    color: black;
}

#about {
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about div{
    margin: 10px;
    width: 50%;
}

#about div p{
    letter-spacing: 1px;
    word-spacing: 1.6px;
    line-height: 1.4;
}

#contact{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact div{
    /* margin: 30%; */
    padding: 3.5%;
    width: 50%;
}

#contact form label{
    font-size: 24px;
    font-style: italic;

}

#contact form input{
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
    padding: 12px 50px;
    margin:20px 0 ;
    font-size: 20px;
}

#contact form button{
    border-radius: 7px;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
    background-color: black;
    color: white;    
}

#contact h2{
    text-align: end;
}

